.Menu{
    color: white;
}
.account{
    color:white ;
}
.key{
    color: white;
}
.Акція{

    font-size: 40px;
    font-weight:900;
    position:relative;
    left: 43%;
   top:20px;
   
}
.Карусель{
    
}
.carousel-item{
    height: 45%;
    width: 45%;
    left: 27%;
   top:20px;
}
.carousel-item img{
    height: 45%;
    width: 45%;
}
.carousel-control-prev{
    left: 22%;
    top:10%;
}
.carousel-control-next{
    left: 61%;
    top:10%;
}