.Menu{
    color: white;
}
.account{
    color:white ;
}
.key{
    color: white;
}
.Call{
    border: 3px solid white;
    width: 24%;
    margin: 0px auto;
    height: 32%;
    position: relative;
    top: 85px;
    right: 24%;
    box-shadow: 5px 5px 50px 5px #000;

}
.war{
    color: black;
    font-size: 25px;
    font-weight: 500;
}
.windows{
    color: black;
    font-size: 16px;
    font-weight: 400;
}
.raz{
    color:black;
    font-size: 21px;
    font-weight: 500;
}
.Опис{
    width: 55%;
    height:30% ;
    position:absolute;
    top: 30%;
    left: 40%;

}
.example-img{
    width: 100%;
}
.carousel-inner{
    height: 43%;
    width: 41%;
    left: 45%;
   top:-400px;
}
.carousel-control-prev{
    left: 39.7%;
    top:98%;
}
.carousel-control-next{
    left: 76%;
    top: 98%;
}
.int{
    position:absolute;
    left: 15.3%;
    bottom: -350px;
}
.Підпис{
    max-width: 800px;
    position:absolute;
    left: 15.3%;
    bottom:-580px;
}
.GamePie{
    max-width: 50px;
    max-height: 35px;
 }