.Menu{
    color: white;
}
.account{
    color:white ;
}
.key{
    color: white;
}
.Call{
    border: 3px solid white;
    width: 21.6%;
    margin: 0px auto;
    height: 32%;
    position: relative;
    top: 85px;
    right: 24%;
    box-shadow: 5px 5px 50px 5px #000;

}
.war{
    color: black;
    font-size: 25px;
    font-weight: 500;
}
.windows{
    color: black;
    font-size: 16px;
    font-weight: 500;
}
.raz{
    color: black;
    font-size: 21px;
    font-weight: 500;
}
.Опис{
    position:absolute;
    top: 29%;
    left: 40%;

}
.example-img{
    width: 100%;
}
.carousel-inner{
    height: 43%;
    width: 41%;
    left: 43%;
   top:-390px;
}
.carousel-control-prev{
    left: 37.5%;
    top:80%;
}
.carousel-control-next{
 left: 74%;   
 top: 80%;
}
.int{
    position:absolute;
    left: 15.3%;
    bottom: -320px;
}
.Підпис{
    width: 500px;
    position:absolute;
    left: 15.3%;
    bottom:-650px;
}